.banner {
    height: 500px;
    background-color: rgb(162, 89, 255);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 5rem;
    width: 100%;

}

.second-banner {
    background-image: url('/img/book.jpg');
    background-size: cover;
    background-position: center;
}


  @media screen and (max-width:760px) {

      .banner {
          height: 300px;
      }
  }