  .box {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 0.5rem;
      padding-top: 3rem;
      padding-bottom: 3rem;

  }

  .box-item {
      background-color: var(--item-color);
      padding: 0.2rem;
      border: 0.5px solid var(--border-color);
      border-radius: 0.5rem;
  }

  .box-item p {
      overflow-wrap: break-word;
      hyphens: auto;

  }

  .box-item h1 {
      padding: 0.5rem 0rem;
      font-size: 1.5rem;
      font-weight: 600;
  }


  .box-head {
      text-align: center;
      padding-bottom: 0.5rem;

  }

  .box-head h4 {
      color: rgb(20, 20, 71);
      padding-bottom: 0.5rem;
      font-size: 1.5rem;
      font-weight: 600;
  }

  .box-head h2 {
      font-size: 2rem;
      font-weight: 700;
      color: rgb(20, 20, 71);
  }

  .box-head p {
      padding: 0rem 6rem;
      color: rgb(20, 20, 71);

  }

  @media screen and (max-width:760px) {

      .box {
          padding: 1rem 0.5rem;
      }
  }